<ion-content [fullscreen]="true">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google MAP Script -->

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp4tplN5KEmKIHOV4vyFXuS6KKFsJqESg">
    </script>
    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp4tplN5KEmKIHOV4vyFXuS6KKFsJqESg&libraries=places"></script>
    
  </head>

  <body>

    <div id="map" class="map"></div>

    <div id="time-estimate" class="time-estimate"><span id="duration">--</span></div>

    <ion-fab slot="fixed" vertical="bottom" horizontal="start">
      <ion-fab-button color="dark">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="dark" (click)="goToConfig()">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="dark">
          <ion-icon name="book-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="dark" id="op-modal">
          <ion-icon name="trail-sign-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

  </body>

  <ion-modal #modal trigger="op-modal" [initialBreakpoint]="0.6" [breakpoints]="[0.85]" class="iniciarViaje">
    <ng-template>
      <ion-content>
        <h1 style="text-align: center;">Iniciar viaje</h1>
        <p>Selecciona tu ubicación de inicio y destino para comenzar a buscar un conductor cercano.</p>
  
        <ion-item lines="none">
          <ion-select [(ngModel)]="ubicacionInicio" (ionChange)="onInicioChange()" label="Ubicación inicio" label-placement="stacked">
            <ion-select-option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.value">
              {{ ubicacion.label }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        
        <ion-item lines="none">
          <ion-select [(ngModel)]="ubicacionDestino" label="Ubicación destino" label-placement="stacked">
            <ion-select-option *ngFor="let ubicacion of getOpcionesDestino()" [value]="ubicacion.value">
              {{ ubicacion.label }}
            </ion-select-option>
          </ion-select>
        </ion-item>
  
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <ion-button expand="block" color="dark" (click)="startTrip()">
                Iniciar viaje
              </ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button expand="block" color="danger">
                <ion-icon name="close-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="userTripQR">
          <qrcode *ngIf="codigoViaje" [qrdata]="qrViaje" [width]="180" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        
      </ion-content>
    </ng-template>
  </ion-modal>
  
</ion-content>
