<ion-content>
  <body style="background: linear-gradient(180deg, rgba(36,36,36,1) 0%, rgba(255,255,255,1) 100%);">
    <div class="box-centered">
      <ion-card class="login-card">
        <ion-card-header>
          <h1>Te Llevo APP</h1>
          <p>Seguridad y eficiencia al alcance de un toque</p>
        </ion-card-header>
        <ion-card-content [formGroup]="loginForm">
          <div class="input-container">
            <input formControlName="email" [(ngModel)]="emailValue" type="email" placeholder="Correo electrónico" class="custom-input"/>
          </div>
          <div class="input-container">
            <input formControlName="pass" [(ngModel)]="passValue" type="password" placeholder="Contraseña" class="custom-input"/>
          </div>
          <ion-button expand="block" color="dark" (click)="logIn()">
            Iniciar sesión
          </ion-button>
          
          <ion-button expand="block" color="light" (click)="goToRegister()">
            No tengo cuenta
          </ion-button>

          <ion-button id="open-modal" expand="block" color="warning">
            Olvidé mi clave
          </ion-button>

        </ion-card-content>
      </ion-card>
      
    </div>
  </body>
</ion-content>

