<ion-content [fullscreen]="true">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google MAP Script -->

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp4tplN5KEmKIHOV4vyFXuS6KKFsJqESg">
    </script>
    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp4tplN5KEmKIHOV4vyFXuS6KKFsJqESg&libraries=places"></script>
    
  </head>

  <body>

    <div id="map" class="map"></div>

    <ion-fab slot="fixed" vertical="bottom" horizontal="start">
      <ion-fab-button color="dark">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="dark" (click)="goToConfig()">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="dark" id="op-modal-2">
          <ion-icon name="person"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="dark" id="op-modal">
          <ion-icon name="trail-sign-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

  </body>

  <ion-modal #modal trigger="op-modal" [initialBreakpoint]="0.6" [breakpoints]="[0.8]" class="iniciarViaje">
    <ng-template>
      <ion-content>
        <h1 style="text-align: center;">Escanear viaje</h1>
        <p>Presiona Escanear QR para escanear un viaje creado por algún conductor.</p>
  
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" color="light">
                Escanear QR
                <ion-icon slot="start" name="scan-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div id="reader" style="width: 300px; height: 300px;"></div>
        
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modal trigger="op-modal-2" [initialBreakpoint]="0.6" [breakpoints]="[0.8]" class="driversDisponibles">
    <ng-template>
      <ion-content>
        <h1 style="text-align: center;">Conductores disponibles</h1>
        <p>Selecciona el conductor de tu interés</p>
        <ul class="user-list">
          <ng-container *ngFor="let usuario of usuarios">
            <ng-container *ngIf="usuario.activo">
              <li class="user-item">
                <div class="avatar">
                  <img [src]="usuario.img_usuario || 'https://ionicframework.com/docs/img/demos/avatar.svg'" alt="Avatar" />
                </div>
                <div class="user-info">
                  <span class="user-name">{{ usuario.nombre }} {{ usuario.apellido }}<br></span>
                  <b style="color: rgb(0, 255, 0); padding-right: 10px; font-size: 12px;">Activo</b><label class="user-age">Edad: {{ usuario.edad }} años.</label>
                </div>
              </li>
            </ng-container>
          </ng-container>
        </ul>                           
        
      </ion-content>
    </ng-template>
  </ion-modal>
  
</ion-content>
