<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <body>
    <ion-list [inset]="true" lines="none" style="background-color: rgba(0, 0, 0, 0);"> 
      <ion-item-sliding *ngFor="let usuario of usuarios" class="user-item">
        <ion-item [button]="true" class="inner-item" (click)="userInfo(usuario)">
          <ion-label>
            <h2><b>{{ usuario.nombre }} {{ usuario.apellido }}</b></h2>
            <p style="font-size: 10px;">({{ usuario.uid }})</p>
            <p class="user-type" style="text-transform: capitalize;">Tipo: {{ usuario.tipo }}</p>
          </ion-label>
        </ion-item>

        <!-- Opciones del Item (Acciones deslizables) -->
        <ion-item-options side="end">
          <!-- Acción para editar usuario -->
          <ion-item-option color="dark" (click)="editarUsuario(usuario)">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-item-option>

          <!-- Acción para eliminar usuario -->
          <ion-item-option color="danger" expandable="true" (click)="eliminarUsuario(usuario)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
          
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </body>
</ion-content>


